body {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
  color: #181818;
}
h1 {
  font-weight: normal;
  color: #283f45;
}
h1 a{
  font-weight: normal;
  color: #38674c;
  text-decoration: none;
}
svg {
  float: left;
  margin-right: 1em;
  background-color: #4ea4ad;
}
svg text {
  background-color: #fff;
}
ul.timeline {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-indent: 0;
  background-color: #181818;
  color: #fff;
  width: 20em;
  margin-right: 1em;
  float: left;
}
ul.timeline li {
  padding: 0.5em 1em;
}
ul.timeline li.diaryDate {
  background-color: #38674c;
}
ul.timeline li.time {
  color: #8cd6db;
}
ul.timeline li.place {
  background-color: #4ea4ad;
}
ul.timeline li.person {
  background-color: #283f45;
}
ul.timeline li.activity {
  background-color: #45815d;
}
.info {
  width: 30em;
  float: left;
}
.info ul {
  list-style-type: none;
  text-indent: 0;
  margin: 0;
  padding: 0;
}
.info li {
  padding: .5em 1em;
}
.info li:nth-child(odd) {
  background-color: #eee;
}
span.key {
  font-weight: bold;
}
ul.gallery {
  list-style-type: none;
}
ul.gallery li {
  display: inline-block;
  border: 1px solid #eee;
  border-radius: 6px;
  width: 200px;
  height: 200px;
  padding: 10px;
  vertical-align: middle;
  line-height: 200px;
  text-align: center;
}
ul.gallery li img {
  max-width: 200px;
  max-height: 200px;
  vertical-align: middle;
}