<h1>Pages#show</h1>
<svg height="600" version="1.1" width="1000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 600" preserveAspectRatio="xMinYMin" style="overflow: hidden; position: relative;">
  <image xlink:href="<%= @p.url %>" preserveAspectRatio="xMidYMid meet" width="1000" height="600"/>
</svg>
