.bar rect {
    fill: #FF752B;
    stroke: none;
}
.label {
    font-family: Verdana;
    font-size: 10pt;
    color: gray;
    fill-opacity: .6;
}
.value {
    font-family: Verdana;
    font-size: 8pt;
    color: gray;
    fill-opacity: .6;
}

.tick_label {
    font-size: 8pt;
    font-family: Verdana;
    color: gray;
    fill-opacity: .6;
}